<app-navbar></app-navbar>
<div class="container mt-3">
  <ul class="nav nav-tabs" id="routineTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="routine-tab" data-toggle="tab" href="#routines" role="tab" aria-controls="home" aria-selected="true">Sessiones</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="day-tab" data-toggle="tab" href="#days" role="tab" aria-controls="profile" aria-selected="false">Día de Rutina</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="bycat-tab" data-toggle="tab" href="#bycat" role="tab" aria-controls="profile" aria-selected="false">Rutinas Por Categoria</a>
    </li>
  </ul>
  <div class="tab-content" id="routineTabContent">
    <div class="tab-pane fade show active mt-3" id="routines" role="tabpanel" aria-labelledby="routine-tab">
      <form #frmRoutine="ngForm">
        <div class="row">
          <div class="col-sm-3">
            <select name="routine" id="routine" class="form-control" [(ngModel)]="selRoutine">
              <option value="-1">- Rutinas -</option>
              <option [value]="routine.id" *ngFor="let routine of routines">{{routine.name}}</option>
            </select>
          </div>
          <div class="col-sm-3">
            <select name="day" id="day" class="form-control" [(ngModel)]="selDay">
              <option value="-1">- Dias -</option>
              <option [value]="day.id" *ngFor="let day of days">{{day.name}}</option>
            </select>
          </div>
          <div class="col-sm-3">
            <select name="hour" id="hour" class="form-control" [(ngModel)]="selSession">
              <option value="-1">- Sesiones -</option>
              <option [value]="session.id" *ngFor="let session of sessions">{{session.name}} {{session.period}}</option>
            </select>
          </div>
          <div class="col-sm-3">
            <button type="submit" class="btn btn-success" (click)="save(frmRoutine)">
              <fa-icon icon="save"></fa-icon>
              Guardar
            </button>
          </div>
        </div>
      </form>
      <hr>
      <div class="row">
        <div class="col-sm-12">
          <table class="table">
            <thead>
              <tr>
                <th>Rutina</th>
                <th>Dia</th>
                <th>Hora</th>
                <th style="width: 120px"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let schedule of schedules; let i = index">
                <td>
                  {{schedule.routine_name}}
                </td>
                <td>
                  {{schedule.available_day_name}}
                </td>
                <td>
                  {{schedule.session_name}} {{schedule.period}}
                </td>
                <td>
                  <button class="btn btn-outline-primary btn-sm float-right" *ngIf="false">
                    <fa-icon icon="edit"></fa-icon>
                  </button>
                  &nbsp;
                  <button class="btn btn-outline-danger btn-sm float-right" (click)="openModalConfirm(template, i, schedule)">
                    <fa-icon icon="trash"></fa-icon>
                  </button>
                  &nbsp;
                  <button class="btn btn-outline-info btn-sm float-right" (click)="mapInfo(schedule)" style="margin-right:5px">
                    <fa-icon icon="align-justify"></fa-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Routine Days -->
    <div class="tab-pane fade mt-3" id="days" role="tabpanel" aria-labelledby="day-tab">
      <form #frmDays="ngForm">
        <div class="row">
          <div class="col-sm-3">
            <select name="day-routine" id="day-routine" class="form-control" [(ngModel)]="selAvRoutine">
              <option value="-1">- Rutinas -</option>
              <option [value]="routine.id" *ngFor="let routine of routines">{{routine.name}}</option>
            </select>
          </div>
          <div class="col-sm-3">
            <select name="av-day" id="av-day" class="form-control" [(ngModel)]="selAvDay">
              <option value="-1">- Dias -</option>
              <option [value]="day.id" *ngFor="let day of days">{{day.name}}</option>
            </select>
          </div>
          <div class="col-sm-3">
            <button type="submit" class="btn btn-success" (click)="saveAvailable()">
              <fa-icon icon="save"></fa-icon>
              Guardar
            </button>
          </div>
        </div>
      </form>
      <hr>
      <div class="row">
        <div class="col-sm-12">
          <table class="table">
            <thead>
              <tr>
                <th>Rutina</th>
                <th>Dia</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let avRoutine of avRoutines; let i = index">
                <td>{{avRoutine.routine_name}}</td>
                <td>{{avRoutine.available_days_name}}</td>
                <td>
                  <button class="btn btn-outline-danger btn-sm float-right" (click)="deleteAvailableRoutine(i, avRoutine)">
                    <fa-icon icon="trash"></fa-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="tab-pane fade mt-3" id="bycat" role="tabpanel" aria-labelledby="bycat-tab">
      <form #frmByCat="ngForm">
          <div class="row">
              <div class="col-sm-3">
                <div class="form-group">
                  <select name="category" id="category" class="form-control" [(ngModel)]="selCategory">
                    <option value="-1">- Categorias -</option>
                    <option [value]="category.id" *ngFor="let category of categories">{{category.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <select name="routineCat" id="routineCat" class="form-control" [(ngModel)]="selRoutineCat">
                    <option value="-1">- Rutinas -</option>
                    <option [value]="routine.id" *ngFor="let routine of routines">{{routine.name}}</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-3">
                <button type="submit" class="btn btn-success" (click)="createRoutineCategory()">
                  <fa-icon icon="save"></fa-icon>
                  Guardar
                </button>
              </div>
          </div>
      </form>
      <table class="table">
        <thead>
          <tr>
            <th>Categoria</th>
            <th>Rutina</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let routineCat of routineCats">
            <td>{{routineCat.category_name}}</td>
            <td>{{routineCat.routine_name}}</td>
            <td>
              <button class="btn btn-outline-danger btn-sm float-right" (click)="deleteRoutineCategory(i, routineCat)">
                <fa-icon icon="trash"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Modal -->
  <ng-template #template>
    <div class="modal-body text-center">
      <p>Desea eliminar esta sesion?</p>
      <button type="button" class="btn btn-default" (click)="deleteRoutineSchedule()">Yes</button>
      <button type="button" class="btn btn-primary" (click)="modalRef.hide()" >No</button>
    </div>
  </ng-template>
</div>
