<app-navbar></app-navbar>
<div class="container mt-3">
  <form #frmRoutine="ngForm">
    <div class="row">
      <div class="col-sm-3">
        <select name="routine" id="routine" class="form-control" [(ngModel)]="selRoutine">
          <option [value]="routine.id" *ngFor="let routine of routines">{{routine.name}}</option>
        </select>
      </div>
      <div class="col-sm-3">
        <select name="day" id="day" class="form-control" [(ngModel)]="selDay">
            <option [value]="day.id" *ngFor="let day of days">{{day.name}}</option>
        </select>
      </div>
      <div class="col-sm-3">
        <select name="hour" id="hour" class="form-control" [(ngModel)]="selSession">
            <option [value]="session.id" *ngFor="let session of sessions">{{session.name}} {{session.period}}</option>
        </select>
      </div>
      <div class="col-sm-3">
        <button type="submit" class="btn btn-success" (click)="save(frmRoutine)">
          <fa-icon icon="save"></fa-icon>
          Guardar
        </button>
      </div>
    </div>
  </form>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <table class="table">
        <thead>
          <tr>
            <th>Routine</th>
            <th>Day</th>
            <th>Hour</th>
            <th style="width: 120px"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let schedule of schedules; let i = index">
            <td>
              {{schedule.routine_name}}
            </td>
            <td>
              {{schedule.available_day_name}}
            </td>
            <td>
              {{schedule.session_name}} {{schedule.period}}
            </td>
            <td>
              <button class="btn btn-outline-primary btn-sm">
                <fa-icon icon="edit"></fa-icon>
              </button>
              &nbsp;
              <button class="btn btn-outline-danger btn-sm" (click)="delete(i, schedule)">
                <fa-icon icon="trash"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
